@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind utilities;

@layer components{

    body{
        @apply antialiased
    }

    .bg-radial{
        background-image: radial-gradient(circle farthest-corner at 30% 40%,#192951,#000);
    }
    .pt-lay{
        padding-top: 74px;
    }
    .pt-lay-mob{
        padding-top: 72px;
    }
    .btn{
        @apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base
    }
    .btn-primary{
        @apply bg-brand-300 hover:bg-indigo-300 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 text-white
    }
    .btn-seconday{
        @apply bg-gray-300 hover:bg-gray-200 focus:ring-gray-300 focus:ring-opacity-50 active:bg-gray-500 text-gray-800
    }
}
